@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body
{
  font-family: 'Roboto';
  font-size: 16px;
  padding: 0;
  margin: 0px 20px;
  color: #000;
  background-color: #ddd;
}

#form
{
  background-color: #fff;
  padding: 20px 10px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 10px;
  row-gap: 15px;
}

#form label
{
  justify-self: end;
  xfont-family: 'Roboto';
  font-size: 16px;
}

#form span
{
  justify-self: start;
}

#form input
{
  justify-self: start;
  border: none;
  border-bottom: 2px solid #f003;
  width: 50%;
  font-family: 'Roboto';
  font-size: 16px;
}
#form input:focus-visible
{
  outline: none;
  border-bottom: 2px solid #f00;
}
#form input:hover
{
  border-bottom: 2px solid #f00;
}

#form button
{
  border: none;
  padding: 10px 16px;
  margin: 8px 8px 0px 0px;
  background-color: #f002;
  border-radius: 5px;
  font-family: 'Roboto';
  font-size: 16px;
  cursor: pointer;
}
#form button:focus-visible
{
  background-color: #f004;
}
#form button:hover
{
  background-color: #f004;
}

#form textarea
{
  border: 2px solid #f003;
  font-family: 'Roboto';
  font-size: 16px;
  padding: 10px;
}
#form textarea:hover
{
  border: 2px solid #f00;
}

#form select
{
  justify-self: start;
  font-family: 'Roboto';
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #f003;
}
#form select:hover
{
  border-bottom: 2px solid #f00;
}
#form select[disabled]
{
  border: none;
}

de-sort
{
  margin: 0 0 5px 0;
  display: inline-block;
}
de-sort .add_banner
{
  position: relative;
}
de-sort .field_list
{
  display: none;
  position: absolute;
  padding: 10px 20px;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  top: 22px;
  left: 0px;
  background-color: #ddd;
  box-shadow: 3px 3px 5px 0px #0006;
}
de-sort .field_item
{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 30px;
}
de-sort .add_sort
{
  display: inline-block;
}
de-sort .sort_list
{
  display: inline-flex;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}
de-sort .sort_item
{
  background-color: #fff;
  border-radius: 20px;
  margin-left: 5px;
  padding: 3px 5px 2px 5px;
}
de-sort .hdr_item
{
  white-space: nowrap;
  text-align: left;
  font-weight: bold;
  height: 30px;
}
de-sort .header
{
  display: inline-block;
}
de-sort .btn 
{
  border: none;
  padding: 0;
  margin: 0;
  background-color: #f002;
  border-radius: 20px;
  font-family: 'Roboto';
  cursor: pointer;
  width: 22px;
  height: 22px;
}
de-sort .sort_btn 
{
  margin: 0 0 0 5px;
}
de-sort .add_btn
{
  margin: 0 0 0 5px;
}
de-sort .remove_btn
{
  margin: 0 0 0 5px;
}
de-sort .close_btn
{
  margin: 0 5px 0 0;
}