@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body
{
  font-family: 'Roboto';
  font-size: 16px;
  padding: 0;
  margin: 0px 20px;
  color: #000;
  background-color: #ddd;
}

form
{
  background-color: #fff;
  padding: 20px 10px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 10px;
  row-gap: 15px;
}

form label
{
  justify-self: end;
  xfont-family: 'Roboto';
  font-size: 16px;
}

form span
{
  justify-self: start;
}

form input
{
  justify-self: start;
  border: none;
  border-bottom: 2px solid #f003;
  width: 50%;
  font-family: 'Roboto';
  font-size: 16px;
}
form input:focus-visible
{
  outline: none;
  border-bottom: 2px solid #f00;
}
form input:hover
{
  border-bottom: 2px solid #f00;
}

form .button
{
  border: none;
  padding: 10px 16px;
  margin: 8px 8px 0px 0px;
  background-color: #f002;
  border-radius: 5px;
  font-family: 'Roboto';
  font-size: 16px;
  cursor: pointer;
}
form .button:focus-visible
{
  background-color: #f004;
}
form .button:hover
{
  background-color: #f004;
}

form textarea
{
  border: 2px solid #f003;
  font-family: 'Roboto';
  font-size: 16px;
  padding: 10px;
}
form textarea:hover
{
  border: 2px solid #f00;
}

form select
{
  justify-self: start;
  font-family: 'Roboto';
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #f003;
}
form select:hover
{
  border-bottom: 2px solid #f00;
}
form select[disabled]
{
  border: none;
}

form mb-select
{
  justify-self: start;
  font-family: 'Roboto';
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #f003;
  outline: none;
}
form mb-select:hover
{
  border-bottom: 2px solid #f00;
}
form mb-select .mb_sel_btn
{
  padding: 0 5px 0 5px;
  height: 100%;
}
form mb-select .mb_sel_btn:hover
{
  background-color: inherit;
}
form mb-select .mb_clr_btn
{
  padding: 0 5px 0 0;
  height: 100%;
}
form mb-select .mb_clr_btn:hover
{
  background-color: inherit;
}

form single-image
{
  width: fit-content;
}